<template>
  <div class="heading">
    <h1>{{ h1 }}</h1>
    
    <!-- Error Handling -->
    <h1 v-if="error !== null">Sorry, an error has occurred {{error}}</h1>
    <!-- Loading API response -->
    <div class="loaderFlex"><div v-if="pending" class="loader"></div></div>

    <table class="countries">
        <tr>
            <th>Names</th>
            <th>Flags</th>
        </tr>
        <tr v-for="country in countryInfo" class="countryTile" v-bind:key="country.id">
            <td class="country-name">
                <span>{{country.name}}</span>
            </td>
            <td class="country-flag">
                <img v-bind:src="country.flag" alt="Country Flag" class="flag">
            </td>
        </tr>
    </table>

  </div>
</template>

<script>
// Axios for API requests
import axios from 'axios';

export default {
    name: 'Country',
    data () {
        return {
            h1: 'All countries in the world',
            // API loading animation, error message, API response
            pending: false,
            error: null,
            countryInfo: null
        }
    },
    mounted () {
        this.pending = true;
        // Load country data
        axios
        .get(`https://restcountries.eu/rest/v2/all`)
        .then((response) => {
            (this.countryInfo = response.data)

        })
        .catch(error => (this.error = error ))
        .finally( () => { this.pending = false });
    }
}
</script>

<style scoped>
h1 {
    text-align: center;
}
.countries {
    border-collapse: collapse;
    margin: 0 auto;
}
.countries td, .countries th {
  border: 1px solid #ddd;
  padding: 8px;
}

.countries th {
    background-color: #2fc9c1;
    color: #fff;
}
.countries td {
    padding-left: 10px;
}
.country-flag {
    max-width: 150px;
    height: auto;
}
.country-flag .flag {
    max-width: 100%;
}
</style>